<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="IdentityServer Local" value="./nuget" />
        <add key="Github" value="https://nuget.pkg.github.com/ArcherTrister/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Github>
            <add key="Username" value="ArcherTrister" />
            <add key="ClearTextPassword" value="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" />
        </Github>
    </packageSourceCredentials>
</configuration>